<div class="arrow">
    <img src="assets/bloo_arrow.png">
</div>

<p>sun works!</p>
lat: {{ currentObserverPosition.latitude }} <br>
long: {{ currentObserverPosition.longitude }} <br>
accuracy: {{ currentObserverPosition.accuracy }} <br>
altitude: {{ currentObserverPosition.altitude }} <br>
absolute: {{deviceOrientiation.absolute}} <br>
alpha: {{ deviceOrientiation.alpha }} <br>
beta: {{ deviceOrientiation.beta }} <br>
gamma: {{ deviceOrientiation.gamma }} <br>
absolute: {{ deviceOrientiation.absolute }}