.arrow img {
    margin-left: 46%;
    margin-right: 46%;
    height: 70px;
    width: 8%
}

#sphere {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
html, body {
    width: 98vw;
    min-width: 99%;
    height: 98vh;
    min-height: 99%;
    overflow: hidden;
}