<div class="arrow">
    <img src="assets/bloo_arrow.png">
</div>
<div id="sphere">
</div>
<h1>sun works!</h1>
lat: {{ currentObserverPosition.latitude }} <br>
long: {{ currentObserverPosition.longitude }} <br>
accuracy: {{ currentObserverPosition.accuracy }} <br>
altitude: {{ currentObserverPosition.altitude }} <br>
absolute: {{deviceOrientiation.absolute}} <br>
alpha: {{ deviceOrientiation.alpha }} <br>
beta: {{ deviceOrientiation.beta }} <br>
gamma: {{ deviceOrientiation.gamma }} <br>
absolute: {{ deviceOrientiation.absolute }} <br>
